@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: #f7f7f9;
    font-family: 'Raleway', sans-serif;
}

/*****************
    Typography
*****************/
a {
    text-decoration: none;
    color: #0a0a09;
}

nav {
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
}

#logo {
    background: url('../imgs/logo.svg') no-repeat center;
    background-size: cover;
    width: 2em;
    height: 2em;
}