@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background: #f7f7f9;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

/*****************
    Typography
*****************/
a {
    text-decoration: none;
    color: #0a0a09;
}

.logo-font{
    display: block;
    font-size: .85em;
    margin-left: -3em;
}

.h1 {
    font-size: 2em;
    text-transform: capitalize;
    margin: 10px auto;
}

.p {
    line-height: 1.5;
    height: 6em;
    overflow: hidden;
}

/*****************
    Navigation
*****************/

nav {
    padding: 10px 20px;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li {
    margin: 0px 10px;
    font-weight: 600;
}

#logo {
    background: url('../imgs/logo.svg') no-repeat center;
    background-size: cover;
    width: 2em;
    height: 2em;
}

/**********************
    Featured Post
**********************/

#featured-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 20px;
    color: #f7f7f9;
    background: url('https://images.unsplash.com/photo-1572666341285-c8cb9790ca50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center;
    background-size: cover;
    height: 40vh;
}

/**********************
    Blog Post
**********************/
#blog-section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1em;
}

#img-1 {
    background: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center;
    background-size: cover;
    height: 20vh;
    width: 100%;
}

#img-2 {
    background: url('https://images.unsplash.com/photo-1554921027-b91f0beeb07d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') no-repeat center;
    background-size: cover;
    height: 20vh;
    width: 100%;
}

#img-3 {
    background: url('https://images.unsplash.com/photo-1611427579146-5a418d32f0ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80') no-repeat center;
    background-size: cover;
    height: 20vh;
    width: 100%;
}